extends layout

block content
  p Welcome to ClubHouse. Please log in, and otherwise if you don't have an account, please sign up.

  p Click the button below to sign up:

  a(href='/sign-up') Sign Up
  &nbsp
  a(href='/log-in') Log In
  
