extends layout

block content
  if user
    h1 Create a Post
    form(action="/post-form", method="POST")
        label(for="title") Title:
        input(type="text", id="title", name="title")
        label(for="content") Content:
        textarea(id="content", name="content", rows="4", cols="50")
        button(type="submit") Submit
  else 
    h1 Not Logged In