extends layout

block content 
    h1 Create an account 

    form(action="/sign-up", method="POST")
        label(for="email") Email 
        input(type = "email" name="email" required placeholder = "example@gmail.com")

        label(for="username") Username
        input(type="text" name="username" required placeholder="John Doe")
        
        label(for="password") Password
        input(type = "password" name = "password" required)
        
        label(for="password_confirmation") Confirm Password
        input(type = "password" name = "password_confirmation" required)

        label(for="secret_code") Secret Code? (Hint: purrgrammers)
        input(type = "password" name = "secret_code")
        
        button(type="submit") Sign Up

    if errors
        ul
            for error in errors
                li!= error.msg